* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    list-style-type: none;
  }
  .navbar {
    z-index: 6;
    position: sticky;
    top: 0px;
    /* background-color: rgb(192, 73, 73); */
    backdrop-filter: blur(6px);
    font-family: "Noto Sans SC", sans-serif;
    font-size: 15px;
    /* background-color:#654fd6; */
    padding: 5px 0px 1px 0px;
    margin-bottom: 30px;
  }
  .full {
    top: 1px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  .left {
    position: relative;
    left: 25px;
    font-weight: bold;
    font-size: 15px;
  }
  .item {
    margin: 0px 10px;
  }
  .items {
    margin: 0px 25px;
    padding: 0px 0px 20px;
  }
  .rights {
      
    margin-top: 10px;
  }
  .btn1 {
    cursor: pointer;
    font-size: 21px;
  }

  body{
    background: repeating-linear-gradient(
      to right,
      rgb(9, 3, 56),
      rgb(0, 0, 0) 0.4%
    );
  }
footer{
      background-color: #7959d2;
      padding: 70px 0px;
      display: flex;
      justify-content: space-around;
      color: white;
    }
    .educamp {
      width: 150px;
    }
    .educamp h3,
    .links h3,
    .privacy h3,
    .contact h3 {
      margin-bottom: 20px;
    }
    .links {
      display: flex;
      flex-direction: column;
    }
    .links a,
    .privacy a {
      color: white;
      margin-bottom: 10px;
    }
    .privacy {
      display: flex;
      flex-direction: column;
    }
    .social {
      margin-top: 20px;
    }
    .social a {
      margin-left: 10px;
    }
    .about{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .about p{
      width: 60vw;
    }
    .imagedesc{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .imagedesc{
      margin-top: 50px;
    }
    .imagedesc img{
      margin-bottom: 50px;
      width: 250px;
    }
    .imagedesc div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .imagedesc div p{
      margin-bottom: 50px;
    }
    @media screen and (max-width: 800px) {
      footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .educamp,
      .links,
      .privacy,
      .contact {
        margin-bottom: 40px;
      }
    }
  @media screen and (max-width: 650px) {
    .item {
      display: none;
    }
    .small {
      display: none;
    }
  }
  @media screen and (min-width: 650px) {
    .btn1{
      display: none;
    }
    .rights{
      display: none;
    }
  }